<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.ico') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    <link rel="stylesheet" type="text/css" href="{{ url('theme://css-compiled/style.css') }}" />
</head>
<body>
  <div class="page" role="">
    {% block header %}
      {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block nav %}
      {% include 'partials/nav.html.twig' %}
    {% endblock %}

    {% block content %}
        {{ page.content|raw }}
    {% endblock %}

    {% block footer %}
      {% include 'partials/footer.html.twig' %}
    {% endblock %}
  </div>
</body>
